In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# The path to our CSV file
crowdfunding_data = Path("Resources/Crowdfunding_data.csv")

# Read our Crowdfunding data into pandas
crowdfunding_df = pd.read_csv(crowdfunding_data)
crowdfunding_df.head()

,id,name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category
0,0,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1448690400,1450159200,False,False,food/food trucks
1,1,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1408424400,1408597200,False,True,music/rock
2,2,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1384668000,1384840800,False,False,technology/web
3,3,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1565499600,1568955600,False,False,music/rock
4,4,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1547964000,1548309600,False,False,theater/plays

In [5]:
# Get a list of all of our columns for easy reference
crowdfunding_df.columns

Index(['id', 'name', 'blurb', 'goal', 'pledged', 'outcome', 'backers_count',
       'country', 'currency', 'launched_at', 'deadline', 'staff_pick',
       'spotlight', 'category'],
      dtype='object')

In [7]:
# Extract "name", "goal", "pledged", "outcome", "country", "staff_pick",
# "backers_count", and "spotlight"
reduced_crowdfunding_df = crowdfunding_df [['name', 'goal', 'pledged', 'outcome', 'country',  'staff_pick', 'backers_count', 'spotlight']]

In [8]:
reduced_crowdfunding_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
0,"Baldwin, Riley and Jackson",100,0,failed,CA,False,0,False
1,Odom Inc,1400,14560,successful,US,False,158,True
2,"Melton, Robinson and Fritz",108400,142523,successful,AU,False,1425,False
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
...,...,...,...,...,...,...,...,...
995,Manning-Hamilton,97300,153216,successful,US,False,2043,True
996,Butler LLC,6600,4814,failed,US,False,112,False
997,Ball LLC,7600,4603,canceled,IT,False,139,False
998,"Taylor, Santiago and Flores",66600,37823,failed,US,False,374,True
999,"Hernandez, Norton and Kelley",111100,62819,canceled,US,False,1122,False

In [21]:
# Remove projects that made no money at all
reduced_crowdfunding_df = reduced_crowdfunding_df.loc[ (reduced_crowdfunding_df["pledged"] > 0)]

In [22]:
reduced_crowdfunding_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
1,Odom Inc,1400,14560,successful,US,False,158,True
2,"Melton, Robinson and Fritz",108400,142523,successful,AU,False,1425,False
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
5,Harris Group,7600,13195,successful,DK,False,174,False
...,...,...,...,...,...,...,...,...
995,Manning-Hamilton,97300,153216,successful,US,False,2043,True
996,Butler LLC,6600,4814,failed,US,False,112,False
997,Ball LLC,7600,4603,canceled,IT,False,139,False
998,"Taylor, Santiago and Flores",66600,37823,failed,US,False,374,True
999,"Hernandez, Norton and Kelley",111100,62819,canceled,US,False,1122,False

In [25]:
# Collect only those projects that were hosted in the US.

# Create a list of the columns

#  Create a new df for "US" with the columns. 
hosted_in_us_df = reduced_crowdfunding_df.loc[reduced_crowdfunding_df["country"] == "US"]
hosted_in_us_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
1,Odom Inc,1400,14560,successful,US,False,158,True
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
9,"Rangel, Holt and Jones",6200,3208,failed,US,False,44,False
10,Green Ltd,5200,13838,successful,US,False,220,False

In [26]:
hosted_in_us_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 762 entries, 1 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           762 non-null    object
 1   goal           762 non-null    int64
 2   pledged        762 non-null    int64
 3   outcome        762 non-null    object
 4   country        762 non-null    object
 5   staff_pick     762 non-null    bool
 6   backers_count  762 non-null    int64
 7   spotlight      762 non-null    bool
dtypes: bool(2), int64(3), object(3)
memory usage: 43.2+ KB

In [29]:
# Create a new column that finds the average amount pledged to a project
hosted_in_us_df['average_donation'] = hosted_in_us_df['pledged'] / hosted_in_us_df['backers_count']

/var/folders/x7/v571_3t12ddffkm6dh_29_tr0000gn/T/ipykernel_2533/2892317299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hosted_in_us_df['average_donation'] = hosted_in_us_df['pledged'] / hosted_in_us_df['backers_count']

In [30]:
hosted_in_us_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
1,Odom Inc,1400,14560,successful,US,False,158,True,92.151899
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False,103.208333
4,Larson-Little,7600,5265,failed,US,False,53,False,99.339623
9,"Rangel, Holt and Jones",6200,3208,failed,US,False,44,False,72.909091
10,Green Ltd,5200,13838,successful,US,False,220,False,62.900000
...,...,...,...,...,...,...,...,...,...
994,"Leach, Rich and Price",141100,74073,failed,US,False,842,True,87.972684
995,Manning-Hamilton,97300,153216,successful,US,False,2043,True,74.995595
996,Butler LLC,6600,4814,failed,US,False,112,False,42.982143
998,"Taylor, Santiago and Flores",66600,37823,failed,US,False,374,True,101.131016
999,"Hernandez, Norton and Kelley",111100,62819,canceled,US,False,1122,False,55.988414

In [31]:
hosted_in_us_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 762 entries, 1 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              762 non-null    object
 1   goal              762 non-null    int64
 2   pledged           762 non-null    int64
 3   outcome           762 non-null    object
 4   country           762 non-null    object
 5   staff_pick        762 non-null    bool
 6   backers_count     762 non-null    int64
 7   spotlight         762 non-null    bool
 8   average_donation  762 non-null    float64
dtypes: bool(2), float64(1), int64(3), object(3)
memory usage: 49.1+ KB

In [32]:
# Calculate the total number of backers for all US projects
hosted_in_us_df['backers_count'].sum()

545510

In [33]:
# Calculate the average number of backers for all US projects
hosted_in_us_df['backers_count'].mean()

715.8923884514436

In [38]:
hosted_in_us_df['backers_count'].std()

1157.6870474514533

In [41]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
picked_by_staff_df = hosted_in_us_df.loc[hosted_in_us_df["staff_pick"]]
picked_by_staff_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
76,"Martin, Conway and Larsen",122900,95993,failed,US,True,1684,True,57.002969
86,Davis-Smith,7400,12405,successful,US,True,203,False,61.108374
193,"Calhoun, Rogers and Long",6600,3012,failed,US,True,65,False,46.338462
205,Weaver-Marquez,1300,5614,successful,US,True,80,False,70.175000
220,Owens-Le,7900,667,failed,US,True,17,False,39.235294
221,Huff LLC,121500,119830,failed,US,True,2179,False,54.993116
225,Fox-Quinn,67800,176398,successful,US,True,5880,False,29.999660
259,Watkins Ltd,1800,10755,successful,US,True,138,False,77.934783
291,"Bell, Grimes and Kerr",1800,8219,successful,US,True,107,False,76.813084
384,"Baker, Collins and Smith",114400,196779,successful,US,True,4799,True,41.004168
395,Taylor PLC,7100,9238,successful,US,True,220,False,41.990909
406,Lyons Inc,39300,71583,successful,US,True,645,False,110.981395
431,Rosales LLC,5100,9817,successful,US,True,94,False,104.436170
492,Garcia Group,191000,45831,canceled,US,True,595,True,77.026891
601,Waters and Sons,6300,13018,successful,US,True,194,False,67.103093
619,Case LLC,195900,55757,failed,US,True,648,True,86.044753
648,Vargas-Cox,98600,62174,canceled,US,True,723,False,85.994467
655,"Gonzalez, Williams and Benson",6900,13212,successful,US,True,264,False,50.045455
660,Jensen-Brown,9100,7438,failed,US,True,77,False,96.597403
691,"Ray, Li and Li",5000,7119,successful,US,True,237,True,30.037975
701,Mcclain LLC,52000,91014,successful,US,True,820,False,110.992683
703,Perez Group,63400,197728,successful,US,True,2038,True,97.020608
751,Lane-Barber,3600,8363,successful,US,True,270,True,30.974074
765,Matthews LLC,3900,8125,successful,US,True,198,True,41.035354
816,"Jones, Casey and Jones",2300,14150,successful,US,True,133,True,106.390977
819,Buck-Khan,8900,4509,failed,US,True,47,False,95.936170
823,Dyer Inc,4100,14640,successful,US,True,252,True,58.095238
846,"Cooper, Stanley and Bryant",1000,5085,successful,US,True,48,True,105.937500
850,"Hood, Perez and Meadows",100,1,failed,US,True,1,False,1.000000
858,"Ayala, Crawford and Taylor",4000,2778,failed,US,True,35,False,79.371429
906,Hayes Group,5500,8964,successful,US,True,191,True,46.931937
911,"Carter, Cole and Curtis",5800,11539,successful,US,True,462,False,24.976190
912,Sanchez-Parsons,1800,14310,successful,US,True,179,False,79.944134
920,"Green, Murphy and Webb",5300,9676,successful,US,True,255,False,37.945098
936,Brown Ltd,103200,1690,failed,US,True,21,False,80.476190
941,Luna-Horne,43000,5615,failed,US,True,78,False,71.987179
945,"Sanders, Farley and Huffman",172000,55805,failed,US,True,1691,False,33.001183
948,Smith-Hill,9400,5918,canceled,US,True,160,True,36.987500
980,Huff-Johnson,195200,78630,failed,US,True,742,False,105.970350

In [47]:
picked_by_staff_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, 76 to 980
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              39 non-null     object
 1   goal              39 non-null     int64
 2   pledged           39 non-null     int64
 3   outcome           39 non-null     object
 4   country           39 non-null     object
 5   staff_pick        39 non-null     bool
 6   backers_count     39 non-null     int64
 7   spotlight         39 non-null     bool
 8   average_donation  39 non-null     float64
dtypes: bool(2), float64(1), int64(3), object(3)
memory usage: 2.5+ KB

In [50]:
picked_by_staff_df.reset_index(inplace=True)

In [51]:
picked_by_staff_df

,level_0,index,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
0,0,76,"Martin, Conway and Larsen",122900,95993,failed,US,True,1684,True,57.002969
1,1,86,Davis-Smith,7400,12405,successful,US,True,203,False,61.108374
2,2,193,"Calhoun, Rogers and Long",6600,3012,failed,US,True,65,False,46.338462
3,3,205,Weaver-Marquez,1300,5614,successful,US,True,80,False,70.175000
4,4,220,Owens-Le,7900,667,failed,US,True,17,False,39.235294
5,5,221,Huff LLC,121500,119830,failed,US,True,2179,False,54.993116
6,6,225,Fox-Quinn,67800,176398,successful,US,True,5880,False,29.999660
7,7,259,Watkins Ltd,1800,10755,successful,US,True,138,False,77.934783
8,8,291,"Bell, Grimes and Kerr",1800,8219,successful,US,True,107,False,76.813084
9,9,384,"Baker, Collins and Smith",114400,196779,successful,US,True,4799,True,41.004168
10,10,395,Taylor PLC,7100,9238,successful,US,True,220,False,41.990909
11,11,406,Lyons Inc,39300,71583,successful,US,True,645,False,110.981395
12,12,431,Rosales LLC,5100,9817,successful,US,True,94,False,104.436170
13,13,492,Garcia Group,191000,45831,canceled,US,True,595,True,77.026891
14,14,601,Waters and Sons,6300,13018,successful,US,True,194,False,67.103093
15,15,619,Case LLC,195900,55757,failed,US,True,648,True,86.044753
16,16,648,Vargas-Cox,98600,62174,canceled,US,True,723,False,85.994467
17,17,655,"Gonzalez, Williams and Benson",6900,13212,successful,US,True,264,False,50.045455
18,18,660,Jensen-Brown,9100,7438,failed,US,True,77,False,96.597403
19,19,691,"Ray, Li and Li",5000,7119,successful,US,True,237,True,30.037975
20,20,701,Mcclain LLC,52000,91014,successful,US,True,820,False,110.992683
21,21,703,Perez Group,63400,197728,successful,US,True,2038,True,97.020608
22,22,751,Lane-Barber,3600,8363,successful,US,True,270,True,30.974074
23,23,765,Matthews LLC,3900,8125,successful,US,True,198,True,41.035354
24,24,816,"Jones, Casey and Jones",2300,14150,successful,US,True,133,True,106.390977
25,25,819,Buck-Khan,8900,4509,failed,US,True,47,False,95.936170
26,26,823,Dyer Inc,4100,14640,successful,US,True,252,True,58.095238
27,27,846,"Cooper, Stanley and Bryant",1000,5085,successful,US,True,48,True,105.937500
28,28,850,"Hood, Perez and Meadows",100,1,failed,US,True,1,False,1.000000
29,29,858,"Ayala, Crawford and Taylor",4000,2778,failed,US,True,35,False,79.371429
30,30,906,Hayes Group,5500,8964,successful,US,True,191,True,46.931937
31,31,911,"Carter, Cole and Curtis",5800,11539,successful,US,True,462,False,24.976190
32,32,912,Sanchez-Parsons,1800,14310,successful,US,True,179,False,79.944134
33,33,920,"Green, Murphy and Webb",5300,9676,successful,US,True,255,False,37.945098
34,34,936,Brown Ltd,103200,1690,failed,US,True,21,False,80.476190
35,35,941,Luna-Horne,43000,5615,failed,US,True,78,False,71.987179
36,36,945,"Sanders, Farley and Huffman",172000,55805,failed,US,True,1691,False,33.001183
37,37,948,Smith-Hill,9400,5918,canceled,US,True,160,True,36.987500
38,38,980,Huff-Johnson,195200,78630,failed,US,True,742,False,105.970350

In [53]:
picked_by_staff_df = picked_by_staff_df.drop(columns=['level_0','index'])

In [55]:
picked_by_staff_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
0,"Martin, Conway and Larsen",122900,95993,failed,US,True,1684,True,57.002969
1,Davis-Smith,7400,12405,successful,US,True,203,False,61.108374
2,"Calhoun, Rogers and Long",6600,3012,failed,US,True,65,False,46.338462
3,Weaver-Marquez,1300,5614,successful,US,True,80,False,70.175000
4,Owens-Le,7900,667,failed,US,True,17,False,39.235294

In [46]:
# Group by the outcome of the campaigns and see if staff picks matter (Seems to matter quite a bit)
picked_by_staff_df['outcome'].value_counts()

outcome
successful    23
failed        13
canceled       3
Name: count, dtype: int64

In [57]:
outcome_groups = picked_by_staff_df.groupby("outcome")

In [66]:
outcome_groups['pledged'].std()

outcome
canceled      28939.243120
failed        42592.502557
successful    63157.550323
Name: pledged, dtype: float64