In [6]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [7]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/dow.sqlite")

In [8]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [9]:
# Collect the names of tables within the database
inspector.get_table_names()

['dow']

In [10]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('dow')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
quarter INTEGER
stock TEXT
date TEXT
open_price FLOAT
high_price FLOAT
low_price FLOAT
close_price FLOAT
volume INTEGER
percent_change FLOAT

In [11]:
import pandas as pd

# connect to the SQLAlchemy engine
connection = engine.connect()

# Query All Records in the SQLlite Database
query = '''
        SELECT name
        FROM sqlite_master
        WHERE type='table';
        '''

# Create a DataFrame from the query result.
list_of_tables_df  = pd.read_sql(query, connection)

#display the result
list_of_tables_df

  name
0  dow

In [15]:
query = '''
        SELECT *
        FROM dow;
        '''

result_df  = pd.read_sql(query, connection)
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              750 non-null    int64
 1   quarter         750 non-null    int64
 2   stock           750 non-null    object
 3   date            750 non-null    object
 4   open_price      750 non-null    float64
 5   high_price      750 non-null    float64
 6   low_price       750 non-null    float64
 7   close_price     750 non-null    float64
 8   volume          750 non-null    int64
 9   percent_change  0 non-null      object
dtypes: float64(4), int64(3), object(3)
memory usage: 58.7+ KB