In [3]:
# Dependencies
import pandas as pd

In [4]:
# We can create a Pandas Series from a raw list
data_series = pd.Series (["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])

In [5]:
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [13]:
# Convert a list of dictionaries into a DataFrame
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"},
                {"STATE": "California", "ABBREVIATION": "CA"},
                {"STATE": "Texas", "ABBREVIATION": "TX"},
               {"STATE": "Florida", "ABBREVIATION": "FL"}]

In [14]:
states_df = pd.DataFrame(states_dicts)

In [15]:
states_df

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY
2  California           CA
3       Texas           TX
4     Florida           FL

In [10]:
# Convert a single dictionary containing lists into a DataFrame
Superhero_df = pd.DataFrame(
    {"City": ["Metropolis","New York City", "Themyscira", "Gotham City", "Gotham City", "Atlantis"],
     "Super Hero": ["Superman", "Spiderman", "WonderWoman", "Batman","Catwoman",  "Aquaman"],
     }
)

In [11]:
Superhero_df

            City   Super Hero
0     Metropolis     Superman
1  New York City    Spiderman
2     Themyscira  WonderWoman
3    Gotham City       Batman
4    Gotham City     Catwoman
5       Atlantis      Aquaman