In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# File to Load
comics_path = Path("Resources/books_clean.csv")

# Read the modified Comic Books csv and store into Pandas DataFrame
comics_df = pd.read_csv(comics_path)
comics_df.head()

,ISBN,Title,Other Titles,Author,All Names,Country of Publication,Place of Publication,Publisher,Publication Year
0,9780930193904,#$@&! : the official Lloyd Llewellyn collection,Official Lloyd Llewellyn collection,"Clowes, Daniel","Clowes, Daniel [person]",England ; United States of America,"London ; Seattle, Washington",Fantagraphics ; Turnaround,1997
1,9780992664220,#WhatDoYouSee? : a graphic novel anthology of ...,NaN,NaN,Fulfilling Lives (Programme) [organisation],England,Newcastle upon Tyne,Roots & Wings,2018
2,9781302903299,#takebacktheshield,NaN,"Spencer, Nick","Spencer, Nick, author [person]",United States of America,New York,Marvel Worldwide,2017
3,9781607065166,'68. Volume 1. Better run through the jungle,Better run through the jungle,"Kidwell, Mark","Fotos, Jay [person] ; Jones, Nat, 1976- [perso...",United States of America,"Berkeley, California",Image Comics,2012
4,9781600107672,'Bots of science,Trans formers ; Trans formers animated : bots ...,"Bryant, Megan E.","Robbins, Robbie [person] ; Boo, 1981- [person]...",United States of America,"San Diego, California",NaN,2010

In [10]:
comics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28692 entries, 0 to 28691
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ISBN                    28187 non-null  object
 1   Title                   28692 non-null  object
 2   Other Titles            12523 non-null  object
 3   Author                  25518 non-null  object
 4   All Names               27911 non-null  object
 5   Country of Publication  28680 non-null  object
 6   Place of Publication    28558 non-null  object
 7   Publisher               26528 non-null  object
 8   Publication Year        28692 non-null  int64
dtypes: int64(1), object(8)
memory usage: 2.0+ MB

In [8]:
author_count = comics_df["Author"].value_counts().head(10)
author_count

Author
Bendis, Brian Michael                  364
Lee, Stan                              308
Goscinny                               300
Ennis, Garth                           235
Aaron, Jason                           197
Davis, Jim                             192
Schulz, Charles M. (Charles Monroe)    185
Johns, Geoff                           183
Claremont, Chris                       173
Morrison, Grant                        171
Name: count, dtype: int64

In [25]:
country_count = comics_df["Country of Publication"].value_counts().head(15)
country_count

Country of Publication
United States of America                     16423
England                                       6465
England ; United States of America            4498
Canada                                         349
Scotland                                       186
Wales                                          120
England ; United Kingdom                       116
Canada ; England                                65
India                                           64
Germany                                         55
England ; India                                 42
Ireland                                         34
United Kingdom ; United States of America       30
United Kingdom                                  24
England ; Germany                               18
Name: count, dtype: int64

In [24]:
comics_df["Country of Publication"].unique()

array(['England ; United States of America', 'England',
       'United States of America', 'Canada', 'England ; India',
       'United Kingdom', 'Canada ; England', 'Norway', 'Wales', nan,
       'Scotland', 'England ; United Kingdom', 'Spain', 'England ; Wales',
       'England ; Spain', 'India',
       'England ; United Kingdom ; United States of America',
       'England ; Scotland', 'France',
       'United Kingdom ; United States of America', 'Australia',
       'Ireland', 'Korea (South)', 'Germany',
       'Scotland ; United States of America', 'Australia ; Wales',
       'England ; Germany', 'Denmark', 'South Africa',
       'Canada ; United Kingdom', 'Japan', 'England ; Slovenia',
       'Canada ; United States of America', 'Uruguay',
       'Germany ; United Kingdom', 'Spain ; United Kingdom',
       'Switzerland', 'England ; Japan', 'England ; Korea (South)',
       'England ; Ireland', 'France ; United States of America',
       'New Zealand', 'Nigeria', 'Netherlands', 'Slovenia', 'China',
       'Finland', 'Israel', 'Singapore', 'Montenegro',
       'Lebanon ; United States of America', 'Lebanon', 'Malaysia',
       'Scotland ; United Kingdom', 'Luxembourg', 'Algeria',
       'England ; New Zealand', 'Italy', 'Belgium', 'China ; England',
       'Australia ; England ; Wales', 'England ; South Africa'],
      dtype=object)

In [9]:
# Calculate the number of unique authors in the DataFrame
author_count = len(comics_df["Author"].unique())

# Calculate the number of unique publication countries in the DataFrame
country_count = len(comics_df["Country of Publication"].unique())

# Print the number of unique authors and countries. 
print(author_count)
print(country_count)

4249
62

In [18]:
# Calculate the earliest/latest year a book was published
earliest_year = comics_df["Publication Year"].min()
latest_year = comics_df["Publication Year"].max()

# Print the earliest and latest year of publication.
print(earliest_year)
print(latest_year)

1941
2021

In [19]:
summary_df=pd.DataFrame()

In [21]:
# Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({"Total Unique Authors": [author_count],
                              "Total Unique Publication Countries": country_count,
                              "Earliest Year": earliest_year,
                              "Latest Year": latest_year})
summary_df

,Total Unique Authors,Total Unique Publication Countries,Earliest Year,Latest Year
0,4249,62,1941,2021

In [13]:
summary_df.to_csv("export.txt")