In [22]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [23]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/employee_compensation.sqlite")

In [24]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [25]:
# Collect the names of tables within the database
inspector.get_table_names()

['salaries']

In [26]:
# Using the inspector to print the column names within the 'Salaries' table and its types
columns = inspector.get_columns('Salaries')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
OrganisationGroupCode INTEGER
JobFamilyCode TEXT
JobCode TEXT
YearType TEXT
Year INTEGER
OrganisationGroup TEXT
DepartmentCode TEXT
Department TEXT
UnionCode FLOAT
Union TEXT
JobFamily TEXT
Job TEXT
EmployeeIdentifier INTEGER
Salaries FLOAT
Overtime FLOAT
OtherSalaries FLOAT
TotalSalary FLOAT
Retirement FLOAT
HealthAndDental FLOAT
OtherBenefits FLOAT
TotalBenefits FLOAT
TotalCompensation FLOAT

In [27]:
# Using pandas and SQLAlchemy SQL statement to load data into DataFrame
import pandas as pd
salaries_df = pd.read_sql_query("SELECT * FROM salaries", engine)

salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39930 entries, 0 to 39929
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     39930 non-null  int64
 1   OrganisationGroupCode  39930 non-null  int64
 2   JobFamilyCode          39930 non-null  object
 3   JobCode                39930 non-null  object
 4   YearType               39930 non-null  object
 5   Year                   39930 non-null  int64
 6   OrganisationGroup      39930 non-null  object
 7   DepartmentCode         39930 non-null  object
 8   Department             39930 non-null  object
 9   UnionCode              39930 non-null  float64
 10  Union                  39930 non-null  object
 11  JobFamily              39930 non-null  object
 12  Job                    39930 non-null  object
 13  EmployeeIdentifier     39930 non-null  int64
 14  Salaries               39930 non-null  float64
 15  Overtime               39930 non-null  float64
 16  OtherSalaries          39930 non-null  float64
 17  TotalSalary            39930 non-null  float64
 18  Retirement             39930 non-null  float64
 19  HealthAndDental        39930 non-null  float64
 20  OtherBenefits          39930 non-null  float64
 21  TotalBenefits          39930 non-null  float64
 22  TotalCompensation      39930 non-null  float64
dtypes: float64(10), int64(4), object(9)
memory usage: 7.0+ MB

In [28]:
# SQL query to extract the top 5 departments with highest salaries
query = """
    SELECT Department, MAX(Salaries) AS HighestSalary
    FROM salaries
    GROUP BY Department
    ORDER BY HighestSalary DESC
    LIMIT 5
"""

# Using pandas and SQLAlchemy SQL statement to load data into DataFrame
result_df = pd.read_sql_query(query, engine)

# Print the DataFrame
print(result_df)

                      Department  HighestSalary
0                  Public Health      475116.00
1             Airport Commission      360288.02
2            Retirement Services      355496.00
3                          Mayor      351116.04
4  Municipal Transportation Agcy      350694.05