In [209]:
# Import SQL Alchemy
from sqlalchemy import create_engine

In [210]:
# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

/var/folders/x7/v571_3t12ddffkm6dh_29_tr0000gn/T/ipykernel_12724/2450433500.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [211]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [212]:
# Create Surfer and Board classes
# ----------------------------------
class Surfer(Base):
    __tablename__ = 'surfers'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    hometown = Column(String(255))
    wipeouts = Column(Integer)
    rank = Column(Integer)

class Board(Base):
    __tablename__ = 'surfboards'
    id = Column(Integer, primary_key=True)
    surfer_id = Column(Integer)
    board_name = Column(String(255))
    color = Column(String(255))
    length = Column(Integer)

In [213]:
# Create specific instances of the Surfer and Board classes
# ----------------------------------
# Create a new surfer named "Bruno"
surfer = Surfer(name='Bruno', hometown="LA", rank=10)
# Create a new board and associate it with a surfer's ID
board = Board(surfer_id=1, board_name="Awwwyeah", color="Blue", length=68)

In [214]:
# Create Database Connection
# ----------------------------------
# Establish Connection
engine = create_engine("sqlite:///surfer.sqlite")

In [215]:
# Create both the Surfer and Board tables within the database
Base.metadata.create_all(engine)

In [216]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [217]:
# Add "Bruno" to the current session
session.add(surfer)
# Add "Awwwyeah" to the current session
session.add(board)
# Commit both objects to the database
session.commit()

In [218]:
# Query the database and collect all of the surfers in the Surfer table
surfer_list = session.query(Surfer)
for bro in surfer_list:
    print(bro.name)
    print(bro.hometown)
    print(bro.rank)

Bruno
LA
10

In [219]:
# Query the database and collect all of the surfers in the Surfer table
surfer_list = session.query(Surfer)
for bro in surfer_list:
    print(bro.name)
    print(bro.hometown)
    print(bro.rank)

Bruno
LA
10

#### How to do the same using a SQL command instead of SQLAlchemy?

In [220]:
import pandas as pd

# connect to the SQLAlchemy engine
conn = engine.connect()

# Query All Records in the SQLlite Database
query = '''
        SELECT name
        FROM sqlite_master
        WHERE type='table';
        '''

# Create a DataFrame from the query result.
list_of_tables_df  = pd.read_sql(query, conn)

#display the result
list_of_tables_df

         name
0     surfers
1  surfboards

In [221]:
# Query All Records in the SQLlite Database
query = "SELECT * FROM surfers"

# Execute the query and store the records in a list
surfers_df = pd.read_sql(query, conn)
surfers_df

   id   name hometown wipeouts  rank
0   1  Bruno       LA     None    10

In [222]:
# Use this to clear out the db
Base.metadata.drop_all(engine)

In [223]:
# Close the connection
session.close()