In [19]:
# Dependencies
import json
import requests
import pandas as pd

In [20]:
url = 'https://swapi.dev/api/people/?search='
character = "Chewbacca"
    # Create search query, make request and store in json
query = url+character

data = requests.get(query).json()

# Use json.dumps to print the json
print(json.dumps(data, indent=4, sort_keys=True))

{
    "count": 1,
    "next": null,
    "previous": null,
    "results": [
        {
            "birth_year": "200BBY",
            "created": "2014-12-10T16:42:45.066000Z",
            "edited": "2014-12-20T21:17:50.332000Z",
            "eye_color": "blue",
            "films": [
                "https://swapi.dev/api/films/1/",
                "https://swapi.dev/api/films/2/",
                "https://swapi.dev/api/films/3/",
                "https://swapi.dev/api/films/6/"
            ],
            "gender": "male",
            "hair_color": "brown",
            "height": "228",
            "homeworld": "https://swapi.dev/api/planets/14/",
            "mass": "112",
            "name": "Chewbacca",
            "skin_color": "unknown",
            "species": [
                "https://swapi.dev/api/species/3/"
            ],
            "starships": [
                "https://swapi.dev/api/starships/10/",
                "https://swapi.dev/api/starships/22/"
            ],
            "url": "https://swapi.dev/api/people/13/",
            "vehicles": [
                "https://swapi.dev/api/vehicles/19/"
            ]
        }
    ]
}

In [21]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo',
                     'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold characters height and mass
height = []
mass = []
starwars_characters = []

# Loop through each character
for character in search_characters:

    # Create search query, make request and store in json
    query = url + character
    response = requests.get(query)
    response_json = response.json()

    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        height.append(response_json['results'][0]['height'])
        mass.append(response_json['results'][0]['mass'])
        starwars_characters.append(character)
        print(f"{character} found! Appending stats")

    # Handle exceptions for a character that is not available in the Star Wars API
    except:
        # Append null values
        print("Character not found")
        pass

R2-D2 found! Appending stats
Darth Vader found! Appending stats
Character not found
Luke Skywalker found! Appending stats
Character not found
Boba Fett found! Appending stats
Character not found
Character not found
Han Solo found! Appending stats

In [24]:
# Create DataFrame
character_height = pd.DataFrame({
    'character': starwars_characters,
    'height (cm)': height,
    'mass (kg)': mass,
    'BMI': [round(float(m) / (float(h) / 100) ** 2, 1) for m, h in zip(mass, height)]
})

character_height

        character height (cm) mass (kg)   BMI
0           R2-D2          96        32  34.7
1     Darth Vader         202       136  33.3
2  Luke Skywalker         172        77  26.0
3       Boba Fett         183      78.2  23.4
4        Han Solo         180        80  24.7