In [11]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [12]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///../Resources/demographics.sqlite")

In [13]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [14]:
# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

In [15]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['demographics']

In [16]:
# Assign the demographics class to a variable called `Demographics`
Demographics = Base.classes.demographics

In [17]:
# Create a session
session = Session(engine)

In [18]:
# Use the session to query Demographics table and display the first 5 locations
for row in session.query(Demographics.id, Demographics.location).limit(5).all():
    print(row)

(0, 'South Dakota')
(1, 'Delaware')
(2, 'South Dakota')
(3, 'Louisiana')
(4, 'West Virginia')

### Note: 
You can use both SQLAlchemy and Pandas for querying a database, and the choice depends on your specific needs and preferences.

The SQLAlchemy example above uses an ORM (Object-Relational Mapping) approach, where the Travel class represents a table in the database. This approach provides a way to interact with the database using Python objects, making the code more Pythonic and object-oriented. It's beneficial when you want to work with the data in a more structured manner, especially if you have complex relationships between tables.

for quick data analysis and exploration, using Pandas directly with SQL queries could be more straightforward and concise way to fetch data into a DataFrame. This is suitable when you primarily want to analyze the data using Pandas functionality.

In [19]:
import pandas as pd
destination_df = pd.read_sql_query("SELECT id,location FROM demographics LIMIT 5;", engine)
destination_df

   id       location
0   0   South Dakota
1   1       Delaware
2   2   South Dakota
3   3      Louisiana
4   4  West Virginia

In [20]:
# BONUS: Query and print the number of unique Locations
# Hints: Look into counting and grouping operations in SQLAlchemy
locations = session.query(Demographics).group_by(Demographics.location).count()
print(locations)

5