In [6]:
# Dependencies
import pandas as pd

In [7]:
# Convert a list of dictionaries into a DataFrame
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"},
                {"STATE": "California", "ABBREVIATION": "CA"},
                {"STATE": "Texas", "ABBREVIATION": "TX"}]

states_df = pd.DataFrame(states_dicts)
states_df

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY
2  California           CA
3       Texas           TX

In [10]:
# Convert a single dictionary containing lists into a DataFrame
Superhero_df = pd.DataFrame(
    {"City": ["Metropolis","New York City", "Themyscira", "Gotham City", "Gotham City", "Atlantis"],
     "Super Hero": ["Superman", "Spiderman", "WonderWoman", "Batman","Catwoman",  "Aquaman"],
     }
)
Superhero_df

            City   Super Hero
0     Metropolis     Superman
1  New York City    Spiderman
2     Themyscira  WonderWoman
3    Gotham City       Batman
4    Gotham City     Catwoman
5       Atlantis      Aquaman