In [104]:
# Import the dependencies
import pandas as pd

In [105]:
# Set the column width
pd.options.display.max_colwidth = 200
# Read in the dataset.
orders_df = pd.read_excel("../Resources/running_shoes.xlsx")
orders_df

                         Product ID,Category,Product,Size,Last Visited
0        AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15
1          G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18
2        CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20
3         B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23
4           D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26
5       B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30
6     CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33
7     CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36
8  B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40
9   EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45

In [106]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Product ID,Category,Product,Size,Last Visited  10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

In [107]:
# convert the colums to a list
shoe_order_cols = orders_df.columns.tolist()

In [108]:
# the first element of the list contain the column names as a string
shoe_order_cols[0]

'Product ID,Category,Product,Size,Last Visited'

In [109]:
# split the string into a list of column names
new_columns = shoe_order_cols[0].split(",")

In [110]:
# display the new column names
new_columns

['Product ID', 'Category', 'Product', 'Size', 'Last Visited']

In [111]:
# transform the cells into a list of lists
shoe_orders_values = orders_df.values.tolist()
shoe_orders_values

[["AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15"],
 ["G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18"],
 ["CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20"],
 ["B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23"],
 ["D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26"],
 ["B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30"],
 ["CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33"],
 ["CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36"],
 ["B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40"],
 ["EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45"]]

In [112]:
# display the first element of the list
shoe_orders_values[0][0].split(",")

['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15']

In [113]:
# create a new list to split and hold the transformed data for each row
shoe_orders_list = []
for _ in shoe_orders_values:
    shoe_orders_list.append(shoe_orders_values[0][0].split(","))

In [114]:
# display the list
shoe_orders_list

[['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15']]

In [115]:
# create a new DataFrame with the new column names and the transformed data
shoe_orders_df = pd.DataFrame(shoe_orders_list, columns=new_columns)
shoe_orders_df

  Product ID Category              Product    Size         Last Visited
0     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
1     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
2     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
3     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
4     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
5     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
6     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
7     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
8     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
9     AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15

In [116]:
# Get the column names.
shoe_orders_df.columns

Index(['Product ID', 'Category', 'Product', 'Size', 'Last Visited'], dtype='object')

In [117]:
# Rename the columns.
shoe_orders_df.rename(columns={'Product ID': "productID",
                            'Category': "category",
                            'Product': "product",
                            'Size': "size",
                            'Last Visited': "lastvisited"}, inplace=True)
shoe_orders_df

  productID category              product    size          lastvisited
0    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
1    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
2    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
3    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
4    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
5    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
6    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
7    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
8    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15
9    AH2430  Women's  Blazing Trail Shoes  Size 9  2020-04-13T15:06:15

In [118]:
# check the data types of the dataframe
shoe_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   productID    10 non-null     object
 1   category     10 non-null     object
 2   product      10 non-null     object
 3   size         10 non-null     object
 4   lastvisited  10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [119]:
# Remove the word "Size " and trailing whitespace from the the "size" column.
shoe_orders_df["size"]  = shoe_orders_df["size"].str.replace("Size ","").astype(int)

In [120]:
shoe_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   productID    10 non-null     object
 1   category     10 non-null     object
 2   product      10 non-null     object
 3   size         10 non-null     int64
 4   lastvisited  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [121]:
# Convert the "lastvisited" column to a datetime datatype.
shoe_orders_df["lastvisited"]  = pd.to_datetime(shoe_orders_df["lastvisited"])
shoe_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   productID    10 non-null     object
 1   category     10 non-null     object
 2   product      10 non-null     object
 3   size         10 non-null     int64
 4   lastvisited  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 528.0+ bytes

In [122]:
shoe_orders_df

  productID category              product  size         lastvisited
0    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
1    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
2    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
3    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
4    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
5    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
6    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
7    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
8    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15
9    AH2430  Women's  Blazing Trail Shoes     9 2020-04-13 15:06:15