In [1]:
# Dependencies
import json
import requests
import pandas as pd

In [2]:
url = 'https://swapi.dev/api/people/?search='
character = "Chewbacca"
    # Create search query, make request and store in json
query = url+character

data = requests.get(query).json()

# Use json.dumps to print the json
print(json.dumps(data, indent=4, sort_keys=True))

{
    "count": 1,
    "next": null,
    "previous": null,
    "results": [
        {
            "birth_year": "200BBY",
            "created": "2014-12-10T16:42:45.066000Z",
            "edited": "2014-12-20T21:17:50.332000Z",
            "eye_color": "blue",
            "films": [
                "https://swapi.dev/api/films/1/",
                "https://swapi.dev/api/films/2/",
                "https://swapi.dev/api/films/3/",
                "https://swapi.dev/api/films/6/"
            ],
            "gender": "male",
            "hair_color": "brown",
            "height": "228",
            "homeworld": "https://swapi.dev/api/planets/14/",
            "mass": "112",
            "name": "Chewbacca",
            "skin_color": "unknown",
            "species": [
                "https://swapi.dev/api/species/3/"
            ],
            "starships": [
                "https://swapi.dev/api/starships/10/",
                "https://swapi.dev/api/starships/22/"
            ],
            "url": "https://swapi.dev/api/people/13/",
            "vehicles": [
                "https://swapi.dev/api/vehicles/19/"
            ]
        }
    ]
}

In [4]:
response_json=requests.get(query).json()

In [8]:
response_json['results'][0]['height']

'228'

In [9]:
# List of character
list_of_heroes = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo',
                     'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold characters height and mass
height = []
mass = []
starwars_characters = []

# Loop through each character
for hero in list_of_heroes:

    # Create search query, make request and store in json
    query = url + hero
    response = requests.get(query)
    response_json = response.json()

    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        height.append(response_json['results'][0]['height'])
        mass.append(response_json['results'][0]['mass'])
        starwars_characters.append(hero)
        print(f"{hero} found! Appending stats")

    # Handle exceptions for a character that is not available in the Star Wars API
    except:
        # Append null values
        print("Character not found")
        pass

R2-D2 found! Appending stats
Darth Vader found! Appending stats
Character not found
Luke Skywalker found! Appending stats
Character not found
Boba Fett found! Appending stats
Character not found
Character not found
Han Solo found! Appending stats

In [10]:
height

['96', '202', '172', '183', '180']

In [11]:
mass

['32', '136', '77', '78.2', '80']

In [12]:
starwars_characters

['R2-D2', 'Darth Vader', 'Luke Skywalker', 'Boba Fett', 'Han Solo']

In [13]:
# Create DataFrame
character_specs = pd.DataFrame({
    'character': starwars_characters,
    'height (cm)': height,
    'mass (kg)': mass,
    'BMI': [round(float(m)/float(h) / 100) ** 2, 1) for m, h in zip(mass, height)]
})

character_specs

        character height (cm) mass (kg)   BMI
0           R2-D2          96        32  34.7
1     Darth Vader         202       136  33.3
2  Luke Skywalker         172        77  26.0
3       Boba Fett         183      78.2  23.4
4        Han Solo         180        80  24.7

In [17]:
character_specs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   character      5 non-null      object
 1   height (cm)    5 non-null      object
 2   mass (kg)      5 non-null      object
 3   BMI            5 non-null      float64
 4   double_height  5 non-null      object
dtypes: float64(1), object(4)
memory usage: 328.0+ bytes

In [18]:
character_specs['height (cm)'] = character_specs['height (cm)'].astype(float)

In [19]:
character_specs['double_height (correct one)'] = character_specs['height (cm)']*2

In [20]:
character_specs

,character,height (cm),mass (kg),BMI,double_height,double_height (correct one)
0,R2-D2,96.0,32,34.7,9696,192.0
1,Darth Vader,202.0,136,33.3,202202,404.0
2,Luke Skywalker,172.0,77,26.0,172172,344.0
3,Boba Fett,183.0,78.2,23.4,183183,366.0
4,Han Solo,180.0,80,24.7,180180,360.0

In [21]:
character_specs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   character                    5 non-null      object
 1   height (cm)                  5 non-null      float64
 2   mass (kg)                    5 non-null      object
 3   BMI                          5 non-null      float64
 4   double_height                5 non-null      object
 5   double_height (correct one)  5 non-null      float64
dtypes: float64(3), object(3)
memory usage: 368.0+ bytes