In [8]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [9]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

In [10]:
# Write an aggregation query that counts the number of documents, grouped by "country"
query = [{'$group': {'_id': "$country", 'count': { '$sum': 1 }}}]

In [11]:
# Run the query with the aggregate method and save the results to a variable
results = list(artifacts.aggregate(query))

In [12]:
# Print the number of countries in the result
print("Number of countries in result: ", len(results))

Number of countries in result:  80

In [13]:
# Print the first 10 results
pprint(results[0:10])

[{'_id': 'Zambia', 'count': 1},
 {'_id': 'Costa Rica', 'count': 20},
 {'_id': 'Mexico', 'count': 72},
 {'_id': 'Cameroon', 'count': 24},
 {'_id': 'Ecuador', 'count': 8},
 {'_id': 'India', 'count': 3},
 {'_id': 'Philippines', 'count': 2},
 {'_id': 'Colombia', 'count': 24},
 {'_id': 'southwestern Nigeria or Republic of Benin', 'count': 1},
 {'_id': "Côte d'Ivoire or Liberia", 'count': 5}]

In [14]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

print("Rows in DataFrame: ", len(result_df))
result_df.head(10)

Rows in DataFrame:  80

                                         _id  count
0                                     Zambia      1
1                                 Costa Rica     20
2                                     Mexico     72
3                                   Cameroon     24
4                                    Ecuador      8
5                                      India      3
6                                Philippines      2
7                                   Colombia     24
8  southwestern Nigeria or Republic of Benin      1
9                   Côte d'Ivoire or Liberia      5

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licensed under the [Creative Commons 0 License](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".