In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Store filepath in a variable and the data into a Pandas DataFrame
csv_path = Path("Resources/veterans.csv")
veterans_df = pd.read_csv(csv_path)
veterans_df.head()

   Year Percentage
0  FY00        72%
1  FY02        74%
2  FY04        75%
3  FY06        80%
4  FY07        83%

In [6]:
veterans_df['Percentage_wo_%'] = veterans_df['Percentage'].str.replace('%', '')

In [7]:
veterans_df

    Year Percentage Percentage_wo_%
0   FY00        72%              72
1   FY02        74%              74
2   FY04        75%              75
3   FY06        80%              80
4   FY07        83%              83
5   FY08        84%              84
6   FY09        88%              88
7   FY10        89%              89
8   FY11        90%              90
9   FY12        90%              90
10  FY13        89%              89

In [8]:
veterans_df["Percentage_numerical"]= veterans_df['Percentage_wo_%'].astype('float')/100

In [10]:
veterans_df

    Year Percentage Percentage_wo_%  Percentage_numerical
0   FY00        72%              72                  0.72
1   FY02        74%              74                  0.74
2   FY04        75%              75                  0.75
3   FY06        80%              80                  0.80
4   FY07        83%              83                  0.83
5   FY08        84%              84                  0.84
6   FY09        88%              88                  0.88
7   FY10        89%              89                  0.89
8   FY11        90%              90                  0.90
9   FY12        90%              90                  0.90
10  FY13        89%              89                  0.89

In [9]:
veterans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  11 non-null     object
 1   Percentage            11 non-null     object
 2   Percentage_wo_%       11 non-null     object
 3   Percentage_numerical  11 non-null     float64
dtypes: float64(1), object(3)
memory usage: 480.0+ bytes

In [11]:
# Get the average percentage of veterans living within 75 miles of a cemetery
veterans_df["Percentage_numerical"].mean()

0.8309090909090909

In [ ]:
# Get the columns.
veterans_df.columns

In [ ]:
# Converting the "Percentage" column to floats
veterans_df["Percentage"] = veterans_df["Percentage"].str.replace("%", "").astype('float')

# Finding the average percentage of veterans living within 75 miles of a cemetery
veterans_df["Percentage"].mean()

### Other method - using rstrip()

In [ ]:
# Remove percentage symbols and convert the column to numeric
veterans_df["Percentage"] = veterans_df["Percentage"].str.rstrip('%').astype('float')

# Now, calculate the average percentage
average_percentage = veterans_df["Percentage"].mean()

# Print or use the average_percentage as needed
print(average_percentage)